VITE_API_BASE_URL=https://inventory-beta.supra.cc.cd
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=supra-inventory-beta.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=supra-inventory-beta
VITE_FIREBASE_APP_ID=1:572322098890:web:96459cf386b3fb6f400e33
VITE_FIREBASE_MESSAGING_SENDER_ID=572322098890
